@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(10px);
  }
}

@keyframes dress-bounce {
  from {
    transform: translate(-50%, -48%);
  }
  to {
    transform: translate(-50%, -46%);
  }
}

@keyframes tongue-bounce {
  from {
    transform: translateY(5px) rotate(135deg);
  }
  to {
    transform: translateY(-15px) rotate(135deg);
  }
}
@keyframes eye-bounce {
  from {
    transform: translateX(-50%) translateY(-1px);
  }
  to {
    transform: translateX(-50%) translateY(4px);
  }
}

@keyframes op {
  30% {
    opacity: 0.2;
  }

  60% {
    opacity: 1;
  }
}

@keyframes hand-L {
  from {
    transform: scaleY(-1) rotate(175deg);
  }
  to {
    transform: scaleY(-1) rotate(185deg);
  }
}

@keyframes hand-R {
  from {
    transform: scale(-1) rotate(175deg);
  }
  to {
    transform: scale(-1) rotate(185deg);
  }
}
@keyframes ear-L {
  30% {
    transform: translate(-50%) rotate(0deg);
  }

  40% {
    transform: translate(-50%) rotate(10deg);
  }

  50% {
    transform: translate(-50%) rotate(-10deg);
  }

  70% {
    transform: translate(-50%) rotate(10deg);
  }

  80% {
    transform: translate(-50%) rotate(0deg);
  }
}

@keyframes ear-R {
  30% {
    transform: scaleX(-1) rotate(0deg);
  }

  40% {
    transform: scaleX(-1) rotate(10deg);
  }

  50% {
    transform: scaleX(-1) rotate(-10deg);
  }

  70% {
    transform: scaleX(-1) rotate(10deg);
  }

  80% {
    transform: scaleX(-1) rotate(0deg);
  }
}

/*애니메이션*/

.mouse.tongue {
  animation: tongue-bounce 2s infinite alternate;
}

.character {
  animation: bounce 2s infinite alternate;
}

.cheek {
  animation: op 7s infinite;
}

.nose,
.eye {
  animation: eye-bounce 2s infinite ease-in-out alternate;
}

.hand.L {
  animation: hand-L 2s infinite alternate;
}
.hand.R {
  animation: hand-R 2s infinite alternate;
}

.dress {
  animation: dress-bounce 2s infinite alternate;
}

.ear.L {
  animation: ear-L 5s infinite alternate;
}
.ear.R {
  animation: ear-R 5s infinite alternate;
}
.character.body {
  animation: none;
}
